<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img padding-bottom"
    style="background: url(assets/images/bg_4.png) no-repeat right bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content mx-650">
                <h2 class="inner-banner-title mx-650">frequently asked questions</h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>Faq</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb about2 d-none d-md-block">
                <img src="assets/images/thumb2_2.png" alt="about">
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".4" data-paroller-direction="horizontal">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Help Section Starts Here -->
<section class="help-section padding-top padding-bottom">
    <div class="container">
        <div class="help-content">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <span class="subtitle  fadeInUp">frequently asked questions</span>
                        <h2 class="title mx-100">have many question about us</h2>
                        <p class=" fadeInUp" data--delay=".6s">
                            Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortor sjustmauris
                            eumalesuada architecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-tab-menu nav-tabs nav border-0 row g-4 justify-content-center">
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".1s">
                    <a href="#investor" class="item active" data-bs-toggle="tab">
                        <div class="thumb">
                            <img src="assets/images/trading.png" alt="">
                        </div>
                        <h5>Become an investor</h5>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".2s">
                    <a href="#privacy" class="item" data-bs-toggle="tab">
                        <div class="thumb">
                            <img src="assets/images/password.png" alt="">
                        </div>
                        <h5>our company privacy</h5>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".3s">
                    <a href="#account" class="item" data-bs-toggle="tab">
                        <div class="thumb">
                            <img src="assets/images/support.png" alt="">
                        </div>
                        <h5>how setting account</h5>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".4s">
                    <a href="#account" class="item" data-bs-toggle="tab">
                        <div class="thumb">
                            <img src="assets/images/support.png" alt="">
                        </div>
                        <h5>how setting account</h5>
                    </a>
                </div>
            </div>
            <div class="tab-content  fadeInUp">
                <div class="tab-pane show fade active" id="investor">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div [class.open]="isMenuOpen" class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Should Become An Investor?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Can I Invest Using Cryptocurrency?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div [class.open]="isMenuOpen" class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Choose Us?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div [ngClass]="{'open': isMenuOpen, 'active': isMenuOpen}" class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Should Become An Investor?</h5>
                                        <div (click)="toggleFaq()" class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Can I Invest Using Cryptocurrency?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Choose Us?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane show fade" id="privacy">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane show fade" id="account">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Help Section Ends Here -->


<trex-affiliate-comp></trex-affiliate-comp>


<!-- Testimonial Two Section Starts Here -->
<section class="testimonial-section-two padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle  fadeInUp">client feedback</span>
                    <h2 class="title  fadeInUp" data--delay=".5s">Happy Client What Say About Us</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Pipsum dolor sit amet consectetur adipisicing elit. Aliquam modi explicabo nam ex unde et
                        dolorum non dolor! Dolorum nobis
                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-two">
            <div class="single-slider">
                <div class="testimonial-item-two">
                    <div class="testimonial-thumb-two">
                        <img src="assets/images/item2_4.png" alt="">
                    </div>
                    <div class="testimonial-content-two">
                        <div class="quote-icon">
                            <i class="las la-quote-left"></i>
                        </div>
                        <h4 class="name">Robindronat</h4>
                        <span class="designation">Hyip Investor</span>
                        <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam
                            mauris. Leo cras molestie.</p>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="testimonial-item-two">
                    <div class="testimonial-thumb-two">
                        <img src="assets/images/item4_2.png" alt="">
                    </div>
                    <div class="testimonial-content-two">
                        <div class="quote-icon">
                            <i class="las la-quote-left"></i>
                        </div>
                        <h4 class="name">Robindronat</h4>
                        <span class="designation">Hyip Investor</span>
                        <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam
                            mauris. Leo cras molestie.</p>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="testimonial-item-two">
                    <div class="testimonial-thumb-two">
                        <img src="assets/images/item3_4.png" alt="">
                    </div>
                    <div class="testimonial-content-two">
                        <div class="quote-icon">
                            <i class="las la-quote-left"></i>
                        </div>
                        <h4 class="name">Robindronat</h4>
                        <span class="designation">Hyip Investor</span>
                        <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam
                            mauris. Leo cras molestie.</p>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="testimonial-item-two">
                    <div class="testimonial-thumb-two">
                        <img src="assets/images/item4_2.png" alt="">
                    </div>
                    <div class="testimonial-content-two">
                        <div class="quote-icon">
                            <i class="las la-quote-left"></i>
                        </div>
                        <h4 class="name">Robindronat</h4>
                        <span class="designation">Hyip Investor</span>
                        <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam
                            mauris. Leo cras molestie.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Two Section Ends Here -->


<!-- Payment Gateway Section Starts Here -->
<section class="payment-gateway padding-bottom">
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2 class="title  fadeInUp" data--delay=".5s">Choose Yor Payment
                        Gateway</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Risus et ut arcu sem nulla. Sit lacus lorem, sed turpis erat rhoncus nibh. Lacinia mauris vel,
                        nibh sociis praesent aliquam proin, sit ut nec ultrices, odio lacus
                    </p>
                </div>
            </div>
            <div class="col-lg-7  fadeInRight">
                <div class="payment-gateway-slider">
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon1.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon3.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon4.png" alt="gateway">
                            <span class="coin-name">Ripple</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Payment Gateway Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->