<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img" style="background: url(assets/images/bg_2.png) no-repeat center bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content">
                <h2 class="inner-banner-title">our privacy
                    <br> &amp; policy
                </h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>Privacy &amp; policy</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb top d-none d-md-block">
                <img src="assets/images/thumb_5.png" alt="privacy-policy">
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Privacy Policy Section Starts Here -->
<section class="privacy-policy padding-top padding-bottom">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-3">
                <ul class="privacy-policy-sidebar-menu">
                    <li>
                        <a href="#overview" class="active nav-link">Overview</a>
                    </li>
                    <li>
                        <a href="#data-collection" class="nav-link">Data Collection &amp; Use</a>
                    </li>
                    <li>
                        <a href="#cookies" class="nav-link">Cookies Data</a>
                    </li>
                    <li>
                        <a href="#data-security" class="nav-link">Data Security</a>
                    </li>
                    <li>
                        <a href="#overview2" class="nav-link">Customer Information</a>
                    </li>
                    <li>
                        <a href="#overview3" class="nav-link">Data Collection &amp; Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="privacy-policy-content">
                    <div class="content-item">
                        <h4 class="title" id="overview">Overview</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit
                            quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla
                            unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima
                            quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                    </div>
                    <div class="content-item">
                        <h4 class="title" id="data-collection">Data Collection &amp; Use</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit
                            quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla
                            unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima
                            quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                        <ul class="info-list">
                            <li>There are many variations of passages of Lorem
                                available, but the majority</li>
                            <li>Finibus onorum et alorum" by icero classical lite
                                rature, discovered</li>
                            <li>There are many variations of passages of Lorem
                                available, but the majority</li>
                            <li>There are many variations of passages of Lorem
                                available, but the majority</li>
                        </ul>
                    </div>
                    <div class="content-item">
                        <h4 class="title" id="cookies">Cookies Data</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit
                            quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla
                            unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima
                            quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                    </div>
                    <div class="content-item">
                        <h4 class="title" id="data-security">Data Collection &amp; Use</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit
                            quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla
                            unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima
                            quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                    </div>
                    <div class="content-item">
                        <h4 class="title" id="overview2">Data Cookies</h4>
                        <p>
                            deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum
                            ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum
                            molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates
                            possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit
                            quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla
                            unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima
                            quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                    </div>
                    <div class="content-item">
                        <h4 class="title" id="overview3">Data Storage</h4>
                        <p>
                            Pconsectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam
                            deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum
                            ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum
                            molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates
                            possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Privacy Policy Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->