<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img overflow-initial"
    style="background: url(assets/images/bg_6.png) no-repeat center bottom;">
    <div class="container">
        <div class="inner-banner-wrapper d-flex contact">
            <div class="inner-banner-content contact-banner">
                <h2 class="inner-banner-title">get in touch <br>
                    with us</h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>Contact</span>
                    </li>
                </ul>
            </div>
            <div class="contact-wrapper  fadeInUp">
                <h4 class="title">Send Us a Message</h4>
                <form class="contact-form">
                    <div class="form--group">
                        <input type="text" class="form--control" placeholder="Name">
                    </div>
                    <div class="form--group">
                        <input type="email" class="form--control" placeholder="Email">
                    </div>
                    <div class="form--group">
                        <input type="tel" class="form--control" placeholder="Phone">
                    </div>
                    <span>Preffered method of communication</span>
                    <div class="choose-method">
                        <div class="form--group custom--radio">
                            <input type="radio" id="choose-method" name="communication-method" checked="">
                            <label for="choose-method">Email</label>
                        </div>
                        <div class="form--group custom--radio">
                            <input type="radio" id="choose-method-2" name="communication-method">
                            <label for="choose-method-2">Phone</label>
                        </div>
                    </div>
                    <div class="form--group">
                        <textarea class="form--control" cols="30" rows="10" placeholder="Message"></textarea>
                    </div>
                    <div class="form--group">
                        <button class="custom-button" type="submit">SUBMIT NOW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".2">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Contact Info Section Starts Here -->
<section class="contact-info padding-top padding-bottom">
    <div class="container">
        <div class="row gy-5 flex-column-reverse flex-lg-row">
            <div class="col-lg-6 col-xl-7">
                <div class="row g-4 justify-content-center mb-4">
                    <div class="col-md-6 col-lg-10 col-xl-6  fadeInLeft">
                        <div class="contact-info-item">
                            <div class="contact-item-thumb">
                                <img src="assets/images/location.png" alt="contact">
                            </div>
                            <div class="contact-item-content">
                                <h4 class="title">Office Address</h4>
                                <p>USA, Callifornia 20, Firs
                                    Avenue, Callifornia</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-10 col-xl-6  fadeInLeft">
                        <div class="contact-info-item">
                            <div class="contact-item-thumb">
                                <img src="assets/images/email.png" alt="contact">
                            </div>
                            <div class="contact-item-content">
                                <h4 class="title">Email Address</h4>
                                <a href="Mailto:help.tetherex@gmail.com"><span class="__cf_email__"
                                        data-cfemail="ddbeb2b3a9bcbea99db8a5bcb0adb1b8f3beb2b0">[email&nbsp;protected]</span></a>
                                <a href="Mailto:help.tetherex@gmail.com"><span class="__cf_email__"
                                        data-cfemail="254c4b434a65405d44485549400b464a48">[email&nbsp;protected]</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-10 col-xl-6  fadeInLeft">
                        <div class="contact-info-item">
                            <div class="contact-item-thumb">
                                <img src="assets/images/phone.png" alt="contact">
                            </div>
                            <div class="contact-item-content">
                                <h4 class="title">Contact Number</h4>
                                <a href="Tel:90172834">(123) 456-7890 - 00521</a>
                                <a href="Tel:90172834">(123) 456-7891 - 00626</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5  fadeInRight d-none d-lg-block">
                <div class="contact-info-thumb">
                    <img src="assets/images/thumb_15.png" alt="contact">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Info Section Ends Here -->


<!-- Section Starts Here -->
<section class="padding-bottom">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6  fadeInLeft">
                <div class="subscription-wrapper">
                    <h2 class="title">Subscribe Newslatter</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium itaque at placeat in
                        dolorum eligendi consectetur soluta nesciunt sequi
                    </p>
                    <form class="subscription-form">
                        <div class="form--group">
                            <input type="email" class="form--control" placeholder="Enter email Address">
                            <button type="submit" class="custom-button"><i class="lab la-telegram-plane"></i></button>
                        </div>
                    </form>
                    <h2 class="contact-num">Call Us : <a href="tel:0709">+0123-456-789</a></h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="payment-gateway-two-wrapper">
                    <div class="section-header">
                        <h2 class="title  fadeInUp">Payment Gateway</h2>
                        <p class=" fadeInUp">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, in, minus tempore iusto
                            error molestias.
                        </p>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 col-md-4 col-lg-6 col-xl-5  fadeInUp" data--delay=".2s">
                            <div class="payment-item-two">
                                <div class="thumb">
                                    <img src="assets/images/icon5.png" alt="gateway">
                                </div>
                                <h6 class="title">Bitcoin</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-5  fadeInUp" data--delay=".3s">
                            <div class="payment-item-two">
                                <div class="thumb">
                                    <img src="assets/images/icon6.png" alt="gateway">
                                </div>
                                <h6 class="title">Ripple</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-5  fadeInUp" data--delay=".4s">
                            <div class="payment-item-two">
                                <div class="thumb">
                                    <img src="assets/images/icon7.png" alt="gateway">
                                </div>
                                <h6 class="title">Litecoin</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-6 col-xl-5  fadeInUp" data--delay=".5s">
                            <div class="payment-item-two">
                                <div class="thumb">
                                    <img src="assets/images/icon8.png" alt="gateway">
                                </div>
                                <h6 class="title">Zcash Coin</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Ends Here -->

<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->