<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img" style="background: url(assets/images/bg_3.png) no-repeat center bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content">
                <h2 class="inner-banner-title">our top hyip investor</h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>investor</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb d-none d-md-block">
                <img src="assets/images/thumb_7.png" alt="about">
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".3" data-paroller-direction="horizontal">
        <img src="assets/images/shape_2.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Investor Section Starts Here -->
<section class="investor-section padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle  fadeInUp">featured investors</span>
                    <h2 class="title  fadeInUp" data--delay=".5s">our top investor</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Pipsum dolor sit amet consectetur adipisicing elit. Aliquam modi explicabo nam ex unde et
                        dolorum non dolor! Dolorum nobis
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-5">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".3s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item1_3.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".4s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item2_2.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".5s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item3_2.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".6s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item4_1.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".3s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item1_3.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".4s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item2_2.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".5s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item3_2.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6  slideInUp" data--delay=".6s">
                <div class="investor-item">
                    <div class="investor-thumb">
                        <img src="assets/images/item4_1.png" alt="investor">
                    </div>
                    <div class="investor-content">
                        <h4 class="name">Robart Betson</h4>
                        <span class="designation">Top Investor</span>
                        <h3 class="invest-ammount">$40,000.00</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Investor Section Ends Here -->


<!-- Support Section Starts Here -->
<section class="support-section bg_img">
    <div class="container">
        <div class="support-wrapper">
            <div class="suport-thumb d-none d-lg-block">
                <img src="assets/images/thumb_6.png" alt="support">
            </div>
            <div class="support-content">
                <h3 class="title">need technical support</h3>
                <p>get unlimited technical support</p>
                <span>For Eamil</span>
                <h2 class="contact-num">
                    <span>Call Us : </span>
                    <a href="Tel:012354723"> +8012-345-6789</a>
                </h2>

                <div class="shape d-none d-xl-block">
                    <img src="assets/images/shape_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Support Section Ends Here -->


<!-- Testimonial Section Starts Here -->
<section class="testimonial-seciton padding-top pb-180 overflow-hidden">
    <div class="container">
        <div class="row gy-4 align-items-center justify-content-center">
            <div class="col-lg-5 d-none d-lg-block   slideInLeft">
                <div class="testimonial-thumb">
                    <img src="assets/images/thumb2.png" alt="testimonial">
                </div>
            </div>
            <div class="col-lg-7 col-md-10">
                <div class="testimonial-content">
                    <div class="section-header text-center">
                        <span class="subtitle  fadeInUp">our happly client</span>
                        <h2 class="title  fadeInUp" data--delay=".5s">Discover Our Happy
                            Client Feedback</h2>
                    </div>
                    <div class="testimonial-slider-wrapper">
                        <div class="testimonial-img">
                            <div class="testimonial-img-slider">
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slider">
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Pipsum dolor sit, amet adipisicing elit. Molestiae similique facere quia!
                                        Eligendi, eveniet aut impedit deleniti autem obcaecati ni
                                    </p>
                                    <h5 class="name">Robindronath Chondro</h5>
                                    <span class="designation">Businessman</span>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Mattis vestibulum elit omnis metuseu urna at facilisi loborntum turpis velsed
                                        molestie varius purus rhoncus
                                    </p>
                                    <h5 class="name">Jubayer Al Somser</h5>
                                    <span class="designation">Developer</span>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Kikit Mattis vestibulum elit omnis metuseu urna at facilisi loborntum turpis
                                        velsed molestie varius purus rhoncus incidunt ipsam soluta rem ipsum.
                                    </p>
                                    <h5 class="name">Raihan Rafuj</h5>
                                    <span class="designation">Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section Ends Here -->


<!-- Payment Gateway Section Starts Here -->
<section class="payment-gateway padding-bottom">
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2 class="title  fadeInUp" data--delay=".5s">Choose Yor Payment
                        Gateway</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Risus et ut arcu sem nulla. Sit lacus lorem, sed turpis erat rhoncus nibh. Lacinia mauris vel,
                        nibh sociis praesent aliquam proin, sit ut nec ultrices, odio lacus
                    </p>
                </div>
            </div>
            <div class="col-lg-7  fadeInRight">
                <div class="payment-gateway-slider">
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon1.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon3.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon4.png" alt="gateway">
                            <span class="coin-name">Ripple</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Payment Gateway Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->