<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img padding-bottom"
    style="background: url(assets/images/bg_4.png) no-repeat right bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content">
                <h2 class="inner-banner-title">Affiliates Program</h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>Affiliates Program</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb about d-none d-md-block">
                <img src="assets/images/banner.png" alt="about">
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".2">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Affiliate Section Starts Here -->
<section class="affiliate-section padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-5 d-lg-block d-none">
                <div class="affiliate-thumb">
                    <img src="assets/images/thumb_4.png" alt="affiliate">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="affiliate-content">
                    <div class="section-header">
                        <span class="subtitle  ">Affiliate program</span>
                        <h2 class="title">Make Money By Affiliate With Out Invest</h2>
                    </div>
                    <div class="affilate-tab-menu row g-4">
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 tab-item  ">
                            <div class="affiliate-tab-item">
                                <div class="item-inner">
                                    <h3 class="percentage">05%</h3>
                                    <span class="serial">1st</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 tab-item">
                            <div class="affiliate-tab-item">
                                <div class="item-inner">
                                    <h3 class="percentage">07%</h3>
                                    <span class="serial">2nd</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 tab-item">
                            <div class="affiliate-tab-item">
                                <div class="item-inner">
                                    <h3 class="percentage">12%</h3>
                                    <span class="serial">3rd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="affiliate-item-content">
                        <h4 class="title">Dapibus et amet sociis, arcu orci orci tinci dunt neque. Purus etortor sjust
                            mauris eumales uada architecto.</h4>
                        <p>Pulvinar a diam ipsum volutpat, bibendum bibendum quia urna id eros. Laoreet fusce dictum
                            amet, purus facilisis pellentesque sed est tristique, ut ligula ac aut integer per, eu purus
                            commodo, id fermentum semper nisl a. Interdum purus molestie. Volutpat quisque justo tellus
                            arcu eget, nonummy vel luctus hendrerit etiam, integer congue aliquam, nunc velit sunt ut at
                            ve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape">
        <img src="assets/images/bg-map.png" alt="affiliate">
    </div>
</section>
<!-- Affiliate Section Ends Here -->


<!-- Affiliate Commission Section Stats Here -->
<section class="commission-section bg_img" style="background: url(assets/images/bg.jpg) no-repeat center;">
    <div class="container">
        <div class="commission-wrapper">
            <div class="commission-thumb d-none d-lg-block">
                <img src="assets/images/thumb_8.png" alt="commission">
            </div>
            <div class="commission-content">
                <h2 class="title">30% <br>
                    <span>Affiliate Commission</span>
                </h2>
                <p>
                    Phasellus a non dui hymenaeos mi ideu non ut lacus, nec erat consequataceuaugueid augue gravida
                    consequat Magna erat nuncsit.
                </p>
                <div class="shape1">
                    <img src="assets/images/shape1_2.png" alt="commission">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Affiliate Commission Section Ends Here -->


<!-- Why Choose Us Section Starts Here -->
<section class="choose-us-three padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-6 col-lg-7">
                <div class="choose-us-right-content pl-0 pr-40">
                    <div class="section-header">
                        <span class="subtitle  ">WHY CHOOSE US</span>
                        <h2 class="title  " data--delay=".5s">Why You Should Affiliate</h2>
                        <p class=" " data--delay=".6s">
                            Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortors justmauris
                            eumalesuada architecto.
                        </p>
                    </div>
                    <div class="choose-item-wrapper-three">
                        <div class="choose-item-three  ">
                            <div class="choose-item-thumb-three">
                                <i class="las la-globe"></i>
                            </div>
                            <div class="choose-item-content-three">
                                <h4 class="title">Support 30 Languages</h4>
                                <p>Facilisi in, lorem justo scelerisque risus er losuere non sit in elit. auris in
                                    consectetuer pelntesque mollis ipsumeuut. </p>
                            </div>
                        </div>
                        <div class="choose-item-three  ">
                            <div class="choose-item-thumb-three">
                                <i class="las la-hand-holding-usd"></i>
                            </div>
                            <div class="choose-item-content-three">
                                <h4 class="title">Best Hyip investor</h4>
                                <p>Facilisi in, lorem justo scelerisque risus er losuere non sit in elit. auris in
                                    consectetuer pelntesque mollis ipsumeuut. </p>
                            </div>
                        </div>
                        <div class="choose-item-three  ">
                            <div class="choose-item-thumb-three">
                                <i class="las la-history"></i>
                            </div>
                            <div class="choose-item-content-three">
                                <h4 class="title">Instant payout</h4>
                                <p>Facilisi in, lorem justo scelerisque risus er losuere non sit in elit. auris in
                                    consectetuer pelntesque mollis ipsumeuut. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 d-none d-lg-block pl-40">
                <div class="choose-us-thumb ltr">
                    <img src="assets/images/thumb_2.png" alt="choose-us">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Section Ends Here -->


<!-- Affiliate Section Starts Here -->
<div class="affiliate-section padding-bottom mb-40">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle  ">how to do it?</span>
                    <h2 class="title mx-650">try easy 3 stap to Affiliate</h2>
                    <p>
                        Pipsum dolor sit amet consectetur adipisicing elit. Aliquam modi explicabo nam ex unde et
                        dolorum non dolor! Dolorum nobis
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="affiliate-item-three">
                    <div class="thumb">
                        <img src="assets/images/item1_4.png" alt="affiliate">
                    </div>
                    <div class="content">
                        <h4 class="title">Quick registration
                        </h4>
                        <p>Tempor commodo purus sed ullamco ligula maecenas, imperdiet rutrum interdum cinia eget nec,
                            vel ligula lectus per uthac donec. Tortor iddonec vestibulum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="affiliate-item-three">
                    <div class="thumb">
                        <img src="assets/images/item2_3.png" alt="affiliate">
                    </div>
                    <div class="content">
                        <h4 class="title">Make An Invest
                        </h4>
                        <p>Tempor commodo purus sed ullamco ligula maecenas, imperdiet rutrum interdum cinia eget nec,
                            vel ligula lectus per uthac donec. Tortor iddonec vestibulum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="affiliate-item-three">
                    <div class="thumb">
                        <img src="assets/images/item3_3.png" alt="affiliate">
                    </div>
                    <div class="content">
                        <h4 class="title">Get Your Profit
                        </h4>
                        <p>Tempor commodo purus sed ullamco ligula maecenas, imperdiet rutrum interdum cinia eget nec,
                            vel ligula lectus per uthac donec. Tortor iddonec vestibulum </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-area">
            <div class="video-inner">
                <img src="assets/images/thumb_9.png" alt="video">
                <div class="thumb-content">
                    <a href="https://www.youtube.com/watch?v=WOb4cj7izpE" target="_blank"
                        class="video-button-two video"><img src="assets/images/play.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Affiliate Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->