<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img" style="background: url(assets/images/bg_5.png) no-repeat center bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content padding-bottom">
                <h2 class="inner-banner-title">Sorry! page not
                    found</h2>
                <ul class="breadcums">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <span>Error Page</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb d-none d-md-block">
                <img src="assets/images/thumb_14.png" alt="about">
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".2">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Error Section Starts Here -->
<section class="error-page padding-top padding-bottom">
    <div class="container">
        <div class="error-thumb">
            <img src="assets/images/404.png" alt="404">
        </div>
        <div class="error-content">
            <h2 class="title">Sorry, Page Not Found</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex ut ipsam sunt laudantium
                perspiciatis sint veniam modi minima, blanditiis nesciunt, dolorum recusandae vitae repellat ducimus qui
                maxime hic saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In porro totam nemo minus
                veritatis corrupti, doloremque cum odio qui facere numquam dolor illum repellat iste officia debitis
                dolores, magnam maiores.
            </p>
            <div class="form--group">
                <input type="email" class="form--control" placeholder="Search for Page">
                <button class="custom-button" type="button">Search</button>
            </div>
        </div>
    </div>
</section>
<!-- Error Section Ends Here -->



<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->