<!-- Header Section Starts Here -->
<header class="header">
    <div class="header-bottom">
        <div class="container">
            <div class="header-area">
                <div class="logo">
                    <a routerLink="">
                        <h1 class="logo-text">Tetherex</h1>
                    </a>
                </div>
                <div class="header-trigger d-block d-lg-none">
                    <span></span>
                </div>
                <ul class="menu">
                    <li>
                        <a routerLink="home">Home</a>
                    </li>
                    <li>
                        <a routerLink="about">About</a>
                    </li>
                    <li>
                        <a href="#0">Plan</a>
                        <ul class="sub-menu">
                            <li>
                                <a routerLink="investment-plan">Investment Plan 01</a>
                            </li>
                            <li>
                                <a routerLink="investment-plan">Investment Plan 02</a>
                            </li>
                            <li>
                                <a routerLink="investment-plan">Investment Plan 03</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Account</a>
                        <ul class="sub-menu">
                            <li>
                                <a routerLink="login">Log In</a>
                            </li>
                            <li>
                                <a routerLink="signup">Sign Up</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="blog">Blog</a>
                        <ul class="sub-menu">
                            <li>
                                <a routerLink="blog">Blog</a>
                            </li>
                            <li>
                                <a routerLink="blog-details">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="contact">Contact</a>
                    </li>
                    <li>
                        <a routerLink="investment-plan" class="cmn--btn">Invest Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header Section Ends Here -->