<!-- Affiliate Commission Section Stats Here -->
<section class="commission-section bg_img" style="background: url(assets/images/bg.jpg) no-repeat center;">
    <div class="container">
        <div class="commission-wrapper">
            <div class="commission-thumb d-none d-lg-block">
                <img src="assets/images/thumb_8.png" alt="commission">
            </div>
            <div class="commission-content">
                <h2 class="title">30% <br>
                    <span>Affiliate Commission</span>
                </h2>
                <p>
                    Phasellus a non dui hymenaeos mi ideu non ut lacus, nec erat consequataceuaugueid augue gravida
                    consequat Magna erat nuncsit.
                </p>
                <a routerLink="affiliate" class="cmn--btn">View Details</a>
                <div class="shape1">
                    <img src="assets/images/shape1_2.png" alt="commission">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Affiliate Commission Section Ends Here -->