<!-- Banner Section Starts Here -->
<section class="banner-section bg_img" style="background: url(assets/images/bg_1.png) center bottom;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  d-none d-lg-block">
                <div class="banner-thumb">
                    <img src="assets/images/thumb_1.png" alt="banner">
                    <div class="shapes ">
                        <div class="shape2">
                            <img src="assets/images/shape1.png" alt="banner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-content">
                    <h1 class="banner-title">hyip <span class="text--base">Investment </span><span> Solutions</span>
                    </h1>
                    <span class="subtitle">Sodales integer. Eleifend elit hendrerit cras duilum uconsectetuera hymenaeos
                        tempor facilisi </span>
                    <div class="button-group d-flex flex-wrap align-items-center">
                        <a routerLink="/signup" class="cmn--btn btn--secondary">get started</a>
                        <a href="https://www.youtube.com/watch?v=WOb4cj7izpE" target="_blank" class="video-button"><i
                                class="las la-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- How it Works Section Starts Here -->
<section class="how-work padding-top padding-bottom">
    <div class="container">
        <div class="row justif-content-center align-items-center">
            <div class="col-lg-6">
                <div class="how-work-left-content">
                    <div class="section-header wow fadeInUp">
                        <span class="subtitle">How to Do It</span>
                        <h2 class="title">try easy 3 stap to invest</h2>
                        <p>Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc
                            tellus nulla praesent quis porttitor sitarcu.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row align-items-center gy-4">
                    <div class="col-md-6 col-sm-6">
                        <div class="row gy-4">
                            <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
                                <div class="how-work-item">
                                    <div class="how-work-item-thumb theme-one">
                                        <i class="las la-atlas"></i>
                                    </div>
                                    <div class="how-work-item-content">
                                        <h4 class="title"><a routerLink="signup">Quick Registration</a></h4>
                                        <p>Consectetuer ante fringilla amet nunc ut at duis anteultricies.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay=".3s">
                                <div class="how-work-item gradient-two">
                                    <div class="how-work-item-thumb theme-two">
                                        <i class="las la-hand-holding-usd"></i>
                                    </div>
                                    <div class="how-work-item-content">
                                        <h4 class="title"><a routerLink="investment-plan">Make An Invest</a></h4>
                                        <p>Consectetuer ante fringilla amet nunc ut at duis anteultricies.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="how-work-item gradient-four">
                            <div class="how-work-item-thumb theme-four">
                                <i class="las la-wallet"></i>
                            </div>
                            <div class="how-work-item-content">
                                <h4 class="title"><a routerLink="login">Get Your Profit</a></h4>
                                <p>Consectetuer ante fringilla amet nunc ut at duis anteultricies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it Works Section Ends Here -->


<!-- Sponsor Section Starts Here -->
<div class="sponsor-section row fadeInUp">
    <div class="container">
        <div class="sponsor-slider">
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item1.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item2.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item3.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item4.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item5.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item6.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item2.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item4.png" alt="sponsors">
                </div>
            </div>
            <div class="single-slide">
                <div class="brand-item">
                    <img src="assets/images/item1.png" alt="sponsors">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sponsor Section Ends Here -->


<!-- Feature Section STarts Here -->
<section class="feature-section padding-top">
    <div class="container">
        <div class="row align-items-center gy-5 ">
            <div class="col-lg-6 col-md-10 wow fadeInLeft d-none d-lg-block">
                <div class="feature-thumb">
                    <img src="assets/images/thumb.png" alt="feature">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight">
                <div class="feature-content">
                    <div class="section-header">
                        <span class="subtitle">awesome hyip features</span>
                        <h2 class="title">our best Hyip features</h2>
                        <p>
                            Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortor sit justmauris eu
                            malesuada architecto.
                        </p>
                    </div>
                    <h3 class="title-two">Account Management</h3>
                    <p>
                        Commodo lectus at vel, ante enim orci in erat nullam. Leo et libero in enim rutrum, nonummy
                        senectus nonummy lacus a. Est dapibus nascetur vestibulum, purus cras aenean ut fermentum
                    </p>
                    <ul class="feature-info-list">
                        <li>
                            Bibendum purus feugiat at, dolor convallis auctor congue
                            Aliquam urna et neque nulla proin
                        </li>
                        <li>
                            Magnis faucibus amet irure metus, adipiscing ultricies elit interdum odio vel nibh.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section Ends Here -->


<!-- Plan Section Starts Here -->
<section class="plan-section padding-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle wow fadeInUp">choose your plan</span>
                    <h2 class="title wow fadeInUp" data-wow-delay=".4s">best investment platform for your profit</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc tellus
                        ac nulla praesent quis porttitor sit arcu congue auctor ut amet.
                    </p>
                </div>
            </div>
        </div>
        <div class="plan-wrapper row g-4">
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item wow fadeIn" data-wow-delay=".1s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">600%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $1500.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">04 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item wow fadeIn" data-wow-delay=".2s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">700%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $1500.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">10 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item wow fadeIn" data-wow-delay=".3s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">800%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $1500.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">07 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item wow fadeIn" data-wow-delay=".4s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">1200%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $1500.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">15 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="button text-center wow slideIn pb-4">
            <a routerLink="investment-plan" class="cmn--btn">Discover More</a>
        </div>
    </div>
</section>
<!-- Plan Section Ends Here -->


<!-- Counter Section Starts Here -->
<section class="counter-section padding-top">
    <div class="container">
        <div class="row justif-content-center gy-5">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-wrapper">
                    <div class="counter-item">
                        <div class="counter-inner">
                            <h2 class="counter-sign">$ </h2>
                            <span class="odometer title" data-odometer-final="557"></span>
                        </div>
                    </div>
                    <span class="info">Invested in pitches</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-wrapper">
                    <div class="counter-item">
                        <div class="counter-inner">
                            <span class="odometer title" data-odometer-final="254"></span>
                            <h2 class="counter-sign">K</h2>
                        </div>
                    </div>
                    <span class="info">Registrated Members</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-wrapper">
                    <div class="counter-item">
                        <div class="counter-inner">
                            <span class="odometer title" data-odometer-final="774"></span>
                            <h2 class="counter-sign">K</h2>
                        </div>
                    </div>
                    <span class="info">Average Investment</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-wrapper">
                    <div class="counter-item">
                        <div class="counter-inner">
                            <span class="odometer title" data-odometer-final="7740"></span>
                        </div>
                    </div>
                    <span class="info">Total Investment Plan</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section Ends Here -->


<!-- Why Choose Us Section Starts Here -->
<section class="choose-us-three padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-6 col-lg-5 d-none d-lg-block wow slideInLeft">
                <div class="choose-us-thumb">
                    <img src="assets/images/thumb_2.png" alt="choose-us">
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="choose-us-right-content">
                    <div class="section-header">
                        <span class="subtitle wow fadeInUp">WHY CHOOSE US</span>
                        <h2 class="title wow fadeInUp" data-wow-delay=".5s">Why You Should Saty With Us</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortors justmauris
                            eumalesuada architecto.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/lock.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">High Security</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/live-chat.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">Live Chat</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/business-ico.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">Free Transection</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/user.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">Supper Dashboard</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/lock.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">High Security</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="choose-item">
                                <div class="choose-thumb">
                                    <img src="assets/images/lock2.png" alt="choose-us">
                                </div>
                                <div class="choose-content">
                                    <h6 class="title">High Security</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Section Ends Here -->


<!-- Testimonial Section Starts Here -->
<section class="testimonial-seciton pb-180">
    <div class="container">
        <div class="row gy-4 align-items-center justify-content-center">
            <div class="col-lg-5 d-none d-lg-block  wow slideInLeft">
                <div class="testimonial-thumb">
                    <img src="assets/images/thumb2.png" alt="testimonial">
                </div>
            </div>
            <div class="col-lg-7 col-md-10">
                <div class="testimonial-content">
                    <div class="section-header text-center">
                        <span class="subtitle wow fadeInUp">our happly client</span>
                        <h2 class="title wow fadeInUp" data-wow-delay=".5s">Discover Our Happy
                            Client Feedback</h2>
                    </div>
                    <div class="testimonial-slider-wrapper">
                        <div class="testimonial-img">
                            <div class="testimonial-img-slider">
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                                <div class="img-item">
                                    <img src="assets/images/item1_1.png" alt="testimonial">
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slider">
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Pipsum dolor sit, amet adipisicing elit. Molestiae similique facere quia!
                                        Eligendi, eveniet aut impedit deleniti autem obcaecati ni
                                    </p>
                                    <h5 class="name">Robindronath Chondro</h5>
                                    <span class="designation">Businessman</span>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Mattis vestibulum elit omnis metuseu urna at facilisi loborntum turpis velsed
                                        molestie varius purus rhoncus
                                    </p>
                                    <h5 class="name">Jubayer Al Somser</h5>
                                    <span class="designation">Developer</span>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="quote-icon">
                                    <i class="las la-quote-left"></i>
                                </div>
                                <div class="content-inner">
                                    <p>
                                        Kikit Mattis vestibulum elit omnis metuseu urna at facilisi loborntum turpis
                                        velsed molestie varius purus rhoncus incidunt ipsam soluta rem ipsum.
                                    </p>
                                    <h5 class="name">Raihan Rafuj</h5>
                                    <span class="designation">Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section Ends Here -->


<!-- Help Section Starts Here -->
<section class="help-section  overflow-hidden">
    <div class="container">
        <div class="row align-items-center gy-5 flex-column-reverse flex-lg-row">
            <div class="col-lg-6">
                <div class="help-content">
                    <div class="section-header">
                        <span class="subtitle wow fadeInUp">we are ready for your help</span>
                        <h2 class="title wow fadeInUp" data-wow-delay=".5s">How We Can Help You?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortor sjustmauris
                            eumalesuada architecto.
                        </p>
                    </div>
                    <div class="faq-tab-menu nav-tabs nav border-0 row g-4 justify-content-center">
                        <div class="col-6 col-sm-4 col-md-4 col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay=".2s">
                            <a href="#investor" target="_self" class="item active" data-bs-toggle="tab">
                                <div class="thumb">
                                    <img src="assets/images/trading.png" alt="">
                                </div>
                                <h5>Become an investor</h5>
                            </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay=".3s">
                            <a href="#privacy" target="_self" class="item" data-bs-toggle="tab">
                                <div class="thumb">
                                    <img src="assets/images/password.png" alt="">
                                </div>
                                <h5>our company privacy</h5>
                            </a>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay=".4s">
                            <a href="#account" target="_self" class="item" data-bs-toggle="tab">
                                <div class="thumb">
                                    <img src="assets/images/support.png" alt="">
                                </div>
                                <h5>how setting account</h5>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane show fade active" id="investor">
                            <div class="faq-wrapper">
                                <div class="faq-item wow fadeInUp" data-wow-delay=".3s">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Should Become An Investor?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active wow fadeInUp" data-wow-delay=".4s">
                                    <div class="faq-title">
                                        <h5 class="title">Can I Invest Using Cryptocurrency?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item wow fadeInUp" data-wow-delay=".5s">
                                    <div class="faq-title">
                                        <h5 class="title">Why You Choose Us?</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane show fade" id="privacy">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane show fade" id="account">
                            <div class="faq-wrapper">
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item open active">
                                    <div class="faq-title">
                                        <h5 class="title">Drives internal pageviews to.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-title">
                                        <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                        <div class="arrow">
                                            <i class="fas fa-angle-up"></i>
                                        </div>
                                    </div>
                                    <div class="faq-content">
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio
                                            quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias!
                                            Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita
                                            inventore?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block wow fadeInRight">
                <div class="help-thumb ">
                    <img src="assets/images/thumb_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Help Section Ends Here -->


<!-- Affiliate Section Starts Here -->
<trex-affiliate-comp></trex-affiliate-comp>


<!-- Blog Section Start Here -->
<section class="blog-section padding-bottom overflow-hidden">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle wow fadeInUp">Hyip investment blog post</span>
                    <h2 class="title wow fadeInUp" data-wow-delay=".5s">Best Comunity Platform
                        for investment</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc tellus
                        ac nulla praesent quis porttitor sit arcu congue auctor ut amet.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-4">
            <div class="col-lg-4 col-md-6 col-sm-10 wow slideInUp" data-wow-delay=".3s">
                <div class="post-item">
                    <div class="post-thumb">
                        <a routerLink="blog-details">
                            <img src="assets/images/item1_2.png" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <h4 class="post-title">
                            <a routerLink="blog-details">Auctor gravida vestibulu</a>
                        </h4>
                        <ul class="meta-post">
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-tag"></i>
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-calendar-check"></i>
                                    09 May 2020
                                </a>
                            </li>
                        </ul>
                        <p>Phasellus nulla inceptos. vivamumnaametn quisque tortor. Integer lacu ornare cum.an ante nec
                            situspendisse.</p>
                        <a routerLink="blog-details" class="read-more-button">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow slideInUp" data-wow-delay=".4s">
                <div class="post-item">
                    <div class="post-thumb">
                        <a routerLink="blog-details">
                            <img src="assets/images/item2_1.png" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <h4 class="post-title">
                            <a routerLink="blog-details">Auctor gravida vestibulu</a>
                        </h4>
                        <ul class="meta-post">
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-tag"></i>
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-calendar-check"></i>
                                    09 May 2020
                                </a>
                            </li>
                        </ul>
                        <p>Phasellus nulla inceptos. vivamumnaametn quisque tortor. Integer lacu ornare cum.an ante nec
                            situspendisse.</p>
                        <a routerLink="blog-details" class="read-more-button">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow slideInUp" data-wow-delay=".5s">
                <div class="post-item">
                    <div class="post-thumb">
                        <a routerLink="blog-details">
                            <img src="assets/images/item3_1.png" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <h4 class="post-title">
                            <a routerLink="blog-details">Auctor gravida vestibulu</a>
                        </h4>
                        <ul class="meta-post">
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-tag"></i>
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#0" target="_self">
                                    <i class="las la-calendar-check"></i>
                                    09 May 2020
                                </a>
                            </li>
                        </ul>
                        <p>Phasellus nulla inceptos. vivamumnaametn quisque tortor. Integer lacu ornare cum.an ante nec
                            situspendisse.</p>
                        <a routerLink="blog-details" class="read-more-button">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section Ends Here -->


<!-- Payment Gateway Section Starts Here -->
<section class="payment-gateway padding-bottom">
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2 class="title wow fadeInUp" data-wow-delay=".5s">Choose Yor Payment
                        Gateway</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Risus et ut arcu sem nulla. Sit lacus lorem, sed turpis erat rhoncus nibh. Lacinia mauris vel,
                        nibh sociis praesent aliquam proin, sit ut nec ultrices, odio lacus
                    </p>
                </div>
            </div>
            <div class="col-lg-7 wow fadeInRight">
                <div class="payment-gateway-slider">
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon1.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Bitcoin</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon3.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon4.png" alt="gateway">
                            <span class="coin-name">Ripple</span>
                        </div>
                    </div>
                    <div class="sigle-slider">
                        <div class="gateway-item">
                            <img src="assets/images/icon2.png" alt="gateway">
                            <span class="coin-name">Ethereum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Payment Gateway Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->