<!-- Footer Section Starts Here -->
<section class="footer-section bg_img" style="background: url(assets/images/bg.png) no-repeat center top;">
    <div class="container">
        <div class="row gy-5">
            <div class=" col-xl-3 col-lg-5 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Know About Us</h3>
                    <p>
                        Massain eu dictum in, facilisi mauriorci tincidunt. Mauris suspendisse, faucibus id tellus
                        pellentesque vestibulupendisse mauris, tempus nibh ac, vel sit massa dui, ac curabitur feugiat
                        blandit
                    </p>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="lab la-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="lab la-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="lab la-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="lab la-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="footer-widget">
                    <h4 class="widget-title">Company</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="faq.html">

                                <i class="las la-angle-double-right"></i>Faq</a>
                        </li>
                        <li>
                            <a href="blog.html">

                                <i class="las la-angle-double-right"></i>News</a>
                        </li>
                        <li>
                            <a href="contact.html">

                                <i class="las la-angle-double-right"></i>Support</a>
                        </li>
                        <li>
                            <a href="terms-fo-service.html">

                                <i class="las la-angle-double-right"></i>Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">

                                <i class="las la-angle-double-right"></i>Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-2 col-lg-4 col-sm-6 col-md-4">
                <div class="footer-widget">
                    <h4 class="widget-title">Useful Link</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="mission-vision.html">
                                <i class="las la-angle-double-right"></i>Mission &amp; Vision</a>
                        </li>
                        <li>
                            <a href="investment-plan-01.html">
                                <i class="las la-angle-double-right"></i>Pricing Plan</a>
                        </li>
                        <li>
                            <a href="affiliate.html">

                                <i class="las la-angle-double-right"></i>Affiliate Program</a>
                        </li>
                        <li>
                            <a href="investment-plan-01.html">

                                <i class="las la-angle-double-right"></i>Investment</a>
                        </li>
                        <li>
                            <a href="investor.html">

                                <i class="las la-angle-double-right"></i>Investor</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-2 col-lg-4 col-sm-6 col-md-4">
                <div class="footer-widget">
                    <h4 class="widget-title">Investment</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="investment-plan-01.html">

                                <i class="las la-angle-double-right"></i>Starter Plan</a>
                        </li>
                        <li>
                            <a href="investment-plan-02.html">

                                <i class="las la-angle-double-right"></i>
                                Medium Plan</a>
                        </li>
                        <li>
                            <a href="investment-plan-03.html">

                                <i class="las la-angle-double-right"></i>
                                Special Plan </a>
                        </li>
                        <li>
                            <a href="investment-plan-02.html">

                                <i class="las la-angle-double-right"></i>
                                Vip Plan</a>
                        </li>
                        <li>
                            <a href="investment-plan-01.html">

                                <i class="las la-angle-double-right"></i>
                                Silver Plan</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-4 col-sm-6 col-md-4">
                <div class="footer-widget">
                    <h4 class="widget-title">Contact Information</h4>
                    <ul class="contact-info">
                        <li>
                            medino, kitaniya road , USA
                        </li>
                        <li>
                            Call Us Now 1-234-567-890
                        </li>
                        <li>
                            <a href="email-protection.html#8befeee6e4f8fefbfbe4f9ffcba5e8e4e6"><span
                                    class="__cf_email__"
                                    data-cfemail="6e191919400b16030f1e020b5a5b5e5e2e09030f0702400d0103">[email&nbsp;protected]</span></a>
                        </li>
                        <li>
                            <a href="email-protection.html#6004050d0f131510100f1214204e030f0d"><span
                                    class="__cf_email__"
                                    data-cfemail="debabbb3b1adabaeaeb1acaa9ef0bdb1b3">[email&nbsp;protected]</span></a>
                        </li>
                        <li>
                            <a href="email-protection.html#7115141c1e020401011e0305315f121e1c"><span
                                    class="__cf_email__"
                                    data-cfemail="324545451c56575f5d515d5f42535c4b72555f535b5e1c515d5f">[email&nbsp;protected]</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center text-white pt-4 p-sm-5 pb-0">Copyright © Tetherex {{currentYear}}. All Rights Reserved
            </p>
        </div>
    </div>
</section>
<!-- Footer Section Ends Here -->