<!-- Banner Section Starts Here -->
<section class="inner-banner bg_img" style="background: url(assets/images/bg_2.png) no-repeat center bottom;">
    <div class="container">
        <div class="inner-banner-wrapper">
            <div class="inner-banner-content">
                <h2 class="inner-banner-title">investment plan</h2>
                <ul class="breadcums">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>
                        <span>investment plan</span>
                    </li>
                </ul>
            </div>
            <div class="inner-banner-thumb d-none d-md-block">
                <img src="assets/images/thumb_10.png" alt="investment">
            </div>
        </div>
    </div>
    <div class="shape1 paroller" data-paroller-factor=".2">
        <img src="assets/images/balls.png" alt="about">
    </div>
</section>
<!-- Banner Section Ends Here -->


<!-- Plan Section Starts Here -->
<section class="plan-section overflow-hidden padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle  fadeInUp">choose your plan</span>
                    <h2 class="title  fadeInUp" data--delay=".4s">best investment platform for your profit</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc tellus
                        ac nulla praesent quis porttitor sit arcu congue auctor ut amet.
                    </p>
                </div>
            </div>
        </div>
        <div class="plan-wrapper row gy-4">
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item  fadeInUp" data--delay=".3s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">600%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $30.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">07 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item  fadeInUp" data--delay=".4s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">600%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $30.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">07 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item  fadeInUp" data--delay=".5s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">600%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $30.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">07 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="plan-item  fadeInUp" data--delay=".6s">
                    <div class="plan-inner-part">
                        <h2 class="plan-interest-percent">600%</h2>
                    </div>
                    <div class="plan-inner-part">
                        <ul class="plan-invest-limit">
                            <li>
                                <i class="fas fa-check"></i>
                                Minimum : $30.00
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Maximum : $30.00
                            </li>
                        </ul>
                    </div>
                    <div class="plan-inner-part">
                        <h2 class="plan-invest-time">07 <sub>DAYS</sub></h2>
                    </div>
                    <div class="plan-inner-part">
                        <a routerLink="login" class="cmn--btn-2">Invest now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Plan Section Ends Here -->


<!-- Affiliate Commission Section Stats Here -->
<section class="commission-section bg_img" style="background: url(assets/images/bg.jpg) no-repeat center;">
    <div class="container">
        <div class="commission-wrapper">
            <div class="commission-thumb d-none d-lg-block">
                <img src="assets/images/thumb_8.png" alt="commission">
            </div>
            <div class="commission-content">
                <h2 class="title">30% <br>
                    <span>Affiliate Commission</span>
                </h2>
                <p>
                    Phasellus a non dui hymenaeos mi ideu non ut lacus, nec erat consequataceuaugueid augue gravida
                    consequat Magna erat nuncsit.
                </p>
                <a routerLink="affiliate" class="cmn--btn">View Details</a>
                <div class="shape1">
                    <img src="assets/images/shape1_2.png" alt="commission">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Affiliate Commission Section Ends Here -->


<!-- Latest Transaction Section -->
<section class="latest-transaction-section padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center">
                    <span class="subtitle  fadeInUp">Check Latest Deposit &amp; Withdrow</span>
                    <h2 class="title  fadeInUp" data--delay=".5s">best investment platform for your profit</h2>
                    <p class=" fadeInUp" data--delay=".6s">
                        Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc tellus
                        ac nulla praesent quis porttitor sit arcu congue auctor ut amet.
                    </p>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs deposit-tab-menu  fadeInUp">
            <li>
                <a href="#deposit" target="_self" data-bs-toggle="tab" class="active">Deposit</a>
            </li>
            <li>
                <a href="#withdraw" target="_self" data-bs-toggle="tab">withdraw</a>
            </li>
        </ul>
        <div class="tab-content  slideInUp">
            <div class="tab-pane show fade active" id="deposit">
                <table class="deposit-table">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>User</th>
                            <th>Start Date</th>
                            <th>Rate</th>
                            <th>Deposit</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/01.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">bitcoin</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user01.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">sunato roy</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/06.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Ethereum</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user06.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">josef marton</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/05.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Litecoin</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user05.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/04.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Litecoin</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user04.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/03.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Ethereum</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user03.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/02.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">ripple</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user02.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Deposit</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="withdraw">
                <table class="deposit-table">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>User</th>
                            <th>Start Date</th>
                            <th>Rate</th>
                            <th>Withdraw</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/05.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Litecoin</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user05.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Withdraw</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/04.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Litecoin</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user04.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Withdraw</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/03.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">Ethereum</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user03.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Withdraw</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-input="currency">
                                <div class="currency">
                                    <div class="thumb">
                                        <img src="assets/images/02.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">ripple</span>
                                        <span class="info">Invest Currency</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="user">
                                <div class="user">
                                    <div class="thumb">
                                        <img src="assets/images/user02.png" alt="deposit">
                                    </div>
                                    <div class="content">
                                        <span class="title">martin hook</span>
                                        <span class="info">Hyip Investor</span>
                                    </div>
                                </div>
                            </td>
                            <td data-input="start date">
                                <div class="content">
                                    <span class="title">25 Feb 2020</span>
                                    <span class="info">Start Date</span>
                                </div>
                            </td>
                            <td data-input="rate">
                                <div class="content">
                                    <span class="title">$22,545.00<span> +$75</span></span>
                                    <span class="info">Monthly Rate</span>
                                </div>
                            </td>
                            <td data-input="deposit">
                                <div class="content">
                                    <span class="title">$33,485.00</span>
                                    <span class="info">Withdraw</span>
                                </div>
                            </td>
                            <td data-input="status">
                                <div class="content">
                                    <p>Waiting for Deposit Verify</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Latest Transaction Section -->


<!-- Affiliate Section Starts Here -->
<section class="affiliate-section padding-bottom">
    <div class="container">
        <div class="row gy-5 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-7 col-xl-6">
                <div class="affiliate-content-two">
                    <div class="section-header">
                        <span class="subtitle  fadeInUp">Affiliate program</span>
                        <h2 class="title  fadeInUp" data--delay=".5s">Make Money By Affiliate Without Invest</h2>
                    </div>
                    <div class="affiliate-item-wrapper-two">
                        <div class="affiliate-item-two  fadeInUp">
                            <div class="left-content">
                                <h3 class="percent">05%</h3>
                                <span class="serial">1st</span>
                            </div>
                            <div class="right-content">
                                <h4 class="title">Business Affiliate</h4>
                                <p>Massa nulla curabitur dolor, magna vitae wisiat venenatis ante pede. Inneque velit
                                    adipiscing </p>
                            </div>
                        </div>
                        <div class="affiliate-item-two  fadeInUp">
                            <div class="left-content">
                                <h3 class="percent">05%</h3>
                                <span class="serial">1st</span>
                            </div>
                            <div class="right-content">
                                <h4 class="title">Business Affiliate</h4>
                                <p>Massa nulla curabitur dolor, magna vitae wisiat venenatis ante pede. Inneque velit
                                    adipiscing </p>
                            </div>
                        </div>
                        <div class="affiliate-item-two  fadeInUp">
                            <div class="left-content">
                                <h3 class="percent">05%</h3>
                                <span class="serial">1st</span>
                            </div>
                            <div class="right-content">
                                <h4 class="title">Business Affiliate</h4>
                                <p>Massa nulla curabitur dolor, magna vitae wisiat venenatis ante pede. Inneque velit
                                    adipiscing </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  col-xl-6 d-none d-lg-block  fadeInRight">
                <div class="affiliate-thumb direction-ltr">
                    <img src="assets/images/thumb2_1.png" alt="affiliate">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Affiliate Section Ends Here -->


<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation wow slideInUp overflow-hidden">
    <div class="container">
        <div class="profit-calculation-wrapper">
            <h3 class="title">Calculate How Much You Profit</h3>
            <form class="profit-form">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Plan</option>
                                <option value="plan01">Business Plan</option>
                                <option value="plan01">Professional Plan</option>
                                <option value="plan01">Individual Plan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form--group">
                            <select>
                                <option value="plan01">Select the Currency</option>
                                <option value="plan01">Bitcoin</option>
                                <option value="plan01">Ethereum</option>
                                <option value="plan01">Ripple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form--group">
                            <input type="text" class="form--control" placeholder="Enter the Ammount" required="">
                        </div>
                    </div>
                </div>
            </form>
            <div class="profit-title-wrapper d-flex justify-content-between my-5 mb-3">
                <h5 class="daily-profit text--secondary">Daily Profit - <span class="ammount">0.1200</span>BTC</h5>
                <h5 class="daily-profit theme-four">Total Profit - <span class="ammount">24.1200</span>BTC</h5>
            </div>
            <div class="invest-range-area">
                <div class="main-amount">
                    <input type="text" class="calculator-invest" id="btc-amount" readonly="">
                </div>
                <div class="invest-amount" data-min="01 BTC" data-max="10000 BTC">
                    <div id="btc-range" class="invest-range-slider"></div>
                </div>
                <button type="submit" class="custom-button px-0">Invest now</button>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->